/*================ FONT ================*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital@1&family=Poppins:wght@400;500;600&display=swap');

/*================ ROOT ================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(135deg, #4ab1ff, #2d5cfe);
  display: flex;
  justify-content: center;
  align-items: center;
}

::selection {
  color: #fff;
  background: #3c87ff;
}

/*================ MAIN ================*/
.wrapper {
  max-width: 505px;
  width: 100%;
  background: #fff;
  padding: 28px 0 30px;
  margin-inline: 3rem;
  border-radius: 7px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.todo-input {
  height: 52px;
  padding-inline: 25px;
  position: relative;
}

.todo-input img {
  position: absolute;
  top: 50%;
  transform: translate(17px, -50%);
}

.todo-input input {
  height: 100%;
  width: 100%;
  outline: none;
  font-size: 18px;
  border-radius: 5px;
  padding: 0 60px 0 53px;
  border: 1px solid #999;
  overflow: hidden;
}

.todo-input input:is(:focus, .active) {
  padding-left: 52px;
  border: 2px solid #3c87ff;
}

.todo-input input::placeholder {
  color: #bfbfbf;
}

.todo-input .add-btn {
  position: absolute;
  top: 50%;
  right: 42px;
  transform: translate(17px, -50%);
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 0 5px 5px 0;
  background: linear-gradient(135deg, #1798fb 0%, #2d5cfe 100%);
  height: 100%;
  padding-inline: 28px;
  color: #fff;
}

.controls,
li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.controls {
  padding: 18px 25px;
  border-bottom: 1px solid #ccc;
}

.filters span {
  margin: 0 8px;
  font-size: 17px;
  color: #444444;
  cursor: pointer;
}

.filters span:first-child {
  margin-left: 0;
}

/*==>> ACTIVE ==========*/
.filters span.active {
  color: #3c87ff;
}

.controls .clear-btn {
  border: none;
  outline: none;
  color: #fff;
  font-size: 13px;
  padding: 7px 13px;
  border-radius: 4px;
  transition: transform 0.25s ease;
  background: linear-gradient(135deg, #1798fb 0%, #2d5cfe 100%);
  letter-spacing: 0.3px;
  opacity: 0.6;
  pointer-events: none;
  cursor: pointer;
}

/*==>> ACTIVE ==========*/
.clear-btn.active {
  opacity: 0.9;
  pointer-events: auto;
}

.clear-btn:active {
  transform: scale(0.93);
}

.todo-box {
  margin-top: 20px;
  margin-right: 5px;
  padding: 0 20px 10px 25px;
}

/*==>> OVERFLOW ==========*/
.todo-box.overflow {
  overflow-y: auto;
  max-height: 300px;
}

.todo-box::-webkit-scrollbar {
  width: 8px;
}

.todo-box::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 25px;
}

.todo-box::-webkit-scrollbar-thumb {
  background: #b2cfff;
  border-radius: 25px;
}

.todo-box .task {
  list-style: none;
  font-size: 17px;
  margin-bottom: 18px;
  padding-bottom: 16px;
  align-items: flex-start;
  border-bottom: 1px solid #ccc;
}

.todo-box .task:last-child {
  margin-bottom: 0;
  border-bottom: 0;
  padding-bottom: 0;
}

.todo-box .task label {
  display: flex;
  align-items: flex-start;
}

.task label input {
  margin-top: 7px;
  accent-color: #3c87ff;
}

.task label p {
  user-select: none;
  margin-left: 12px;
  word-wrap: break-word;
}

/*==>> CHECKED ==========*/
.task label p.checked {
  text-decoration: line-through;
}

.todo-box .settings {
  position: relative;
}

.settings .ellipsis {
  font-size: 22px;
}

.settings :where(i, li) {
  cursor: pointer;
}

.settings .todo-menu {
  position: absolute;
  right: -5px;
  bottom: -65px;
  background: #fff;
  padding: 5px 0;
  border-radius: 4px;
  transform: scale(0);
  transform-origin: top right;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
  transition: transform 0.2s ease;
  z-index: 10;
}

.todo-box .task:last-child .todo-menu {
  bottom: 0;
  transform-origin: bottom right;
}

.todo-box .task:first-child .todo-menu {
  bottom: -65px;
  transform-origin: top right;
}

/*==>> SHOW ==========*/
.todo-menu.show {
  transform: scale(1);
}

.todo-menu li {
  height: 25px;
  font-size: 16px;
  margin-bottom: 2px;
  padding: 17px 15px;
  cursor: pointer;
  justify-content: flex-start;
}

.todo-menu li:last-child {
  margin-bottom: 0;
}

.settings li:hover {
  background: #f5f5f5;
}

.settings li i {
  padding-right: 8px;
}

@media (max-width: 400px) {
  body {
    padding: 0 10px;
  }

  .wrapper {
    padding: 20px 0;
  }

  .filters span {
    margin: 0 5px;
  }

  .todo-input {
    padding: 0 20px;
  }

  .controls {
    padding: 18px 20px;
  }

  .todo-box {
    margin-top: 20px;
    margin-right: 5px;
    padding: 0 15px 10px 20px;
  }

  .task label input {
    margin-top: 4px;
  }
}

/* ==================================== */

.logo {
  position: absolute;
  top: 15px;
  left: 15px;
  opacity: 0.8;
}
.logo img {
  width: 8rem;
  height: 2.5rem;
}
